form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;

  border: 1px solid #ccc;
  border-radius: 1em;
}

fieldset {
  margin: 1em auto;
  display: grid;
}

textarea {
  width: 100%;
}

input[type=text] {
  width: 100%;
}

input[type=submit] {
  width: 100%;
  padding: .5em 1em;

  border-radius: .2em;

  text-transform: uppercase;
}

select {
  width: 100%;
}