nav {
  height: 2em;
  padding: 2em;

  background-color: hotpink;
}

nav div:first-child {
  display: flex;
  justify-content: space-between;
}

nav .logo {
  width: 40px;
}

nav .links a {
  color: #212121;
}

nav .links a:hover {
  font-weight: 900;
  font-size: 1.1em;
  color: inherit;
}